PORT=3003

# https://dashboard.stripe.com/test/apikeys
# "sk_test_....."
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1QHtWRAeYlVkwRLF2kIyKEPj 
# Signing secret "whsec_·················"
STRIPE_ENDPOINT_SECRET=
